:root {
    --background: #0d0d0d;
    --background-s: #171717;
    --text: #dbdbdb;
}

* {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: "Roboto Mono", sans-serif;
}

body {
    background: var(--background);
    color: var(--text);
}

header {
    margin: 0px auto;
    padding: 20px 20px;
    width: calc(100% - 40px);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
}

header h1 {
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.file-list {
    margin: 0px auto;
    padding: 10px 20px;
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.file-item {
    height: fit-content;
}

.file-item div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
    background: var(--background-s);
    height: fit-content;
    cursor: pointer;
    border-radius: 2px;
}

.file-item p {
    margin: 0px 0px 0px 6px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
}