:root {
    --text: #010101;
    --black: #010101;
    --white: #f9f9f9;
    --green: #5cb765;
    --yellow: #eaef55;
    --skyblue: #5557a2;
    --darkblue: #33365e;
    --background: #ededed;
    --background-s: #e4e4e4;
}

* {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0px auto;
    padding: 20px 20px;
    max-width: calc(100% - 40px);
    font-family: "Inter", sans-serif;
    background: var(--background);
    color: var(--text);
    border-bottom: 5px solid var(--skyblue);
}

a,
p,
h1, 
h2, 
h3,
button {
    height: fit-content;
    width: fit-content;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--skyblue);
    border-bottom: 1.5px solid var(--skyblue);
    margin: 0px 0px 1px 0px;
}

a:hover {
    border-bottom: 2.5px solid var(--darkblue);
    margin: 0px 0px 0px 0px;
    color: var(--darkblue);
}

a:active {
    background-color: var(--yellow);
    border-bottom: 2px solid var(--black);
    color: 2px solid var(--black);
}

p {
    font-size: 18px;
    font-weight: 400;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
    border: 1.5px solid var(--black);
    border-bottom: 3.5px solid var(--black);
    cursor: pointer;
}

button:hover {
    background-color: var(--background-s);
}

header {
    width: calc(100%);
    height: fit-content;
}

header nav {
    padding: 0px 0px 20px 0px;
    width: calc(100%);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav div {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header nav div img {
    margin: 0px 20px 0px 0px;
}

header nav div h1 {
    font-size: 24px;
    font-weight: 600;
}

header nav a {
    margin: 0px 10px 0px 0px;
}

footer {
    padding: 20px 0px 0px 0px;
    width: calc(100%);
    height: fit-content;
}

.file-list {
    /* min-height: 80vh; */
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 5px;
}

.file-item {
    padding: 10px 20px;
    background: var(--background-s);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: fit-content;
    min-height: 100px;
}

.file-item div {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
}

.file-item div img {
    margin: 0px 20px 0px 0px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.file-item div p {
    max-width: 100px;
}